<div ng-show="empNuevo == false">
	<div class="form-group">
			<label for="nombre">
				Buscar Empleado:
			</label>
			<input placeholder="Ingrese nombre a buscar" class="form-control" type="text" id="buscarEmpInput" name="">
		</div>
</div>
<div class="row">
	<button ng-click="alta()" ng-show="empNuevo == false" class="col col-xs-10 col-xs-offset-1 btn btn-primary">Dar de alta un nuevo empleado</button>
</div>
<div ng-show="selectedUserId != undefined || empNuevo">
	<form ng-submit="agregar()" name="empForm">

		<div class="form-group" ng-show="selectedUserId != undefined">
			<label for="nombre">
				ID:
			</label>
			<input readonly ng-model="selectedUserId" class="form-control" type="text"/>
		</div>
		<div class="form-group">
			<label for="nombre">
				Nombre(s):
			</label>
			<input required ng-model="emp.nombre" class="form-control" type="text" name="nombre">
		</div>
		<div class="row">
			<div class="col col-sm-6 form-group">
				<label for="a_paterno">
					Apellido Paterno:
				</label>
				<input required ng-model="emp.a_paterno" class="form-control" type="text" name="a_paterno">
			</div>

			<div class="col col-sm-6 form-group">
				<label for="a_materno">
					Apellido Materno:
				</label>
				<input required ng-model="emp.a_materno" class="form-control" type="text" name="a_materno">
			</div>
		</div>
		<div class="row">
			<div class="col col-sm-6 form-group">
				<label for="correo">
					Correo:
				</label>
				<input required ng-model="emp.correo" class="form-control" type="email" name="correo">
			</div>

			<div class="col col-sm-6 form-group">
				<label for="telefono">
					Telefono:
				</label>
				<input required ng-model="emp.telefono" class="form-control" type="text" name="telefono">
			</div>
		</div>
		<div class="row">
			<div class="col col-sm-6 form-group">
				<label for="f_nac">
					Fecha de nacimiento:
				</label>
				<input class="form-control" required ng-model="emp.f_nac" type="date" name="f_nac">
			</div>

			<div class="col col-sm-6 form-group">
				<label for="f_ingreso">
					Fecha de ingreso:
				</label>
				<input required ng-model="emp.f_ingreso" class="form-control" type="date" name="f_ingreso">
			</div>
		</div>

		<div class="form-group">
			<label for="puesto">
				Puesto:
			</label>
			<select name="puesto" class="form-control" required ng-model="emp.puesto">
				<option value="" selected="selected" disabled="disabled">Seleccione un puesto</option>	
				<option ng-repeat="p in puestos" value="{{p}}">{{p}}</option>
			</select>
		</div>
		<div class="row">
			<div class="col col-sm-4 form-group">
				<label for="calle">
					Calle:
				</label>
				<input required ng-model="emp.calle" class="form-control" type="text" name="calle">
			</div>

			<div class="col col-sm-8 form-group">
				<label for="colonia">
					Colonia:
				</label>
				<input required ng-model="emp.colonia" class="form-control" type="text" name="colonia">
			</div>
		</div>
		<div class="row">
			<div class="col col-sm-3 form-group">
				<label for="num_domicilio_int">
					Numero interior:
				</label>
				<input class="form-control" ng-model="emp.num_domicilio_int" type="text" name="num_domicilio_int">
			</div>

			<div class="col col-sm-3 form-group">
				<label for="num_domicilio_ext">
					Numero exterior:
				</label>
				<input required ng-model="emp.num_domicilio_ext" class="form-control" type="text" name="num_domicilio_ext">
			</div>

			<div class="col col-sm-6 form-group">
				<label for="cp">
					Codigo postal:
				</label>
				<input class="form-control" required ng-model="emp.cp" type="text" name="cp">
			</div>
		</div>
		<div class="row">
			<div class="col col-sm-6 form-group">
				<label for="cve_ent">
					Estado:
				</label>
				<select ng-change="cargarMunicipioPorCveEnt(emp.cve_ent);emp.cve_mun=undefined;" ng-model="emp.cve_ent" class="form-control">
					<option ng-repeat="estado in estados" value="{{estado.cve_ent}}">{{estado.nom_ent}}</option>
				</select>
			</div>
		
			<div class="col col-sm-6 form-group">
				<label for="cve_mun">
					Municipio:
				</label>
				<select ng-show="emp.cve_ent != undefined" ng-model="emp.cve_mun" class="form-control">
					<option ng-repeat="municipio in municipios" value="{{municipio.cve_mun}}">{{municipio.nom_mun}}</option>
				</select>
				<input ng-show="emp.cve_ent == undefined" class="form-control" type="text" value="Seleccione una entidad" disabled>
			</div>
		</div>
		<div class="row">
			<button ng-show="empNuevo" class="btn btn-success col-xs-10 col-xs-offset-1">Guardar</button>
		</div>
	<span isolate-click>
		<div class="row">
			<button ng-show="!empNuevo" class="btn btn-warning col-xs-10 col-xs-offset-1">Actualizar registro</button>
		</div>
		<br/>
		<div class="row">
			<button ng-click="cancelar($event);" class="col col-xs-10 col-xs-offset-1 btn btn-danger">Cancelar</button>
		</div>
		<br/>
		<div ng-show="!empNuevo" class="row">
			<button ng-click="eliminar($event);" class="col col-xs-10 col-xs-offset-1 btn">Eliminar</button>
		</div>

	</span>
	</form>
</div>