<div ng-show="catNuevo == false">
	<div class="form-group">
			<label for="nombre">
				Buscar Cátalogo:
			</label>
			<!--<input placeholder="Ingrese nombre del catalogo a buscar" class="form-control" type="text" id="buscarEmpInput" name="">-->
			<div class="row">
			<div class="col col-sm-6 form-group">
				<label for="proveedor">
					Proveedor:
				</label>
				<select ng-change="cargarCatalogoPorId(cat.id_prov)" ng-model="cat.id_prov" class="form-control">
					<option ng-repeat="proveedor in proveedoreslista" value="{{proveedor.id_prov}}">{{proveedor.nombreCompleto}}</option>
				</select>
			</div>
		
			<div class="col col-sm-6 form-group">
				<label for="catalogo">
					Catálogo:
				</label>
				<select ng-show="true" class="form-control">
					<option ng-repeat="catalogo in catalogoslista" value="{{catalogo.id}}">{{catalogo.nombre}}</option>
				</select>
				<input ng-show="true" class="form-control" type="text" value="Seleccione un proveedor">
			</div>
		</div>
		</div>
</div>
<div class="row">
	<button ng-click="alta()" ng-show="catNuevo == false" class="col col-xs-10 col-xs-offset-1 btn btn-primary">Dar de alta un nuevo catalogo</button>
</div>
<div ng-show="selectedUserId != undefined || catNuevo">
	<form ng-submit="agregar()" name="catForm">

		<div class="form-group">
			<label>
				Número de Catálogo
			</label>
			<input ng-model="cat.no_catalogo" class="form-control" type="text"/>
		</div>
		<div class="form-group">
			<label for="nombre">
				Nombre del Cátalogo:
			</label>
			<input required ng-model="cat.nombre" class="form-control" type="text" name="nombre">
		</div>
		
		<div class="row">
			<div class="col col-xs-6 form-group">
				<label for="cve_ent">
					Proveedor:
				</label>
				<select ng-model="cat.id_prov" class="form-control">
					<option ng-repeat="proveedor in proveedoreslista" value="{{proveedor.id_prov}}">{{proveedor.nombreCompleto}}</option>
				</select>
			</div>
			<div class="col col-xs-6 form-group">
				<label for="cve_ent">
					Año:
				</label>
				<input type="number" min="2010" max="2100" class="form-control" ng-model="cat.anio">
			</div>
		</div>
		<div class="row">
			<button class="btn btn-success col-xs-10 col-xs-offset-1">Guardar</button>
		</div>
		<br>
	<span isolate-click>
		<div class="row">
			<button class="btn btn-warning col-xs-10 col-xs-offset-1">Actualizar registro</button>
		</div>
		<br/>
		<div class="row">
			<button ng-click="cancelar($event);" class="col col-xs-10 col-xs-offset-1 btn btn-danger">Cancelar</button>
		</div>
		<br/>
		<div ng-show="!empNuevo" class="row">
			<button ng-click="eliminar($event);" class="col col-xs-10 col-xs-offset-1 btn">Eliminar</button>
		</div>

	</span>
	</form>
</div>