<div ng-show="catNuevo == false">
	<div class="form-group">
			<label for="nombre">
				Buscar Cátalogo:
			</label>
			<!--<input placeholder="Ingrese nombre del catalogo a buscar" class="form-control" type="text" id="buscarEmpInput" name="">-->
			<div class="row">
			<div class="col col-sm-6 form-group">
				<label for="proveedor">
					Proveedor:
				</label>
				<select ng-change="cargarProveedorPorId(cat.id_prov); cat.no_catalogo=undefined; cat.anio=undefined;" ng-model="cat.id_prov" class="form-control">
					<option ng-repeat="proveedor in proveedores" value="{{proveedor.id_prov}}">{{proveedor.nombre}}</option>
				</select>
			</div>
		
			<div class="col col-sm-6 form-group">
				<label for="catalogo">
					Catálogo:
				</label>
				<select ng-show="cat.id_prov != undefined" ng-model="cat." class="form-control">
					<option ng-repeat="catalogo in catalogos" value="{{catalogo.}}">{{catalogo.nombre}}</option>
				</select>
				<input ng-show="cat.id_prov == undefined" class="form-control" type="text" value="Seleccione un proveedor" disabled>
			</div>
		</div>
		</div>
</div>
<div class="row">
	<button ng-click="buscar()" ng-show="catNuevo == false" class="col col-xs-10 col-xs-offset-1 btn btn-primary">buscar catálogo</button>
</div>
<div class="row">
	<button ng-click="alta()" ng-show="catNuevo == false" class="col col-xs-10 col-xs-offset-1 btn btn-primary">Dar de alta un nuevo catálogo</button>
</div>
<div ng-show="catNuevo">
	<form ng-submit="agregar()" name="catForm">

		<div class="form-group" ng-show="selectedUserId != undefined">
			<label for="nombre">
				Número de Catálogo
			</label>
			<input readonly ng-model="no_catalogo" class="form-control" type="text"/>
		</div>
		<div class="form-group">
			<label for="nombre">
				Nombre del Cátalogo:
			</label>
			<input required ng-model="cat.nombre" class="form-control" type="text" name="nombre">
		</div>
		
		<div class="row">
			<div class="col col-sm-6 form-group">
				<label for="f_nac">
					Fecha de emisión:
				</label>
				<input class="form-control" required ng-model="cat.anio" type="date" name="anio">
			</div>
		</div>

		<div class="row">
			<div class="col col-sm-6 form-group">
				<label for="id_prov">
					Proveedor:
				</label>
				<select ng-change="cargarProveedorPorId(cat.id_prov); cat.no_catalogo=undefined; cat.anio=undefined;" ng-model="cat.id_prov" class="form-control">
					<option ng-repeat="proveedor in proveedores" value="{{prov.id_prov}}">{{proveedor.id_prov}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<button ng-show="catNuevo" class="btn btn-success col-xs-10 col-xs-offset-1">Guardar</button>
		</div>
	<span isolate-click>
		<div class="row">
			<button ng-show="!catNuevo" class="btn btn-warning col-xs-10 col-xs-offset-1">Actualizar registro</button>
		</div>
		<br/>
		<div class="row">
			<button ng-click="cancelar($event);" class="col col-xs-10 col-xs-offset-1 btn btn-danger">Cancelar</button>
		</div>
		<br/>
		<div ng-show="!catNuevo" class="row">
			<button ng-click="eliminar($event);" class="col col-xs-10 col-xs-offset-1 btn">Eliminar</button>
		</div>

	</span>
	</form>
</div>