<div ng-show="catNuevo == false && !editando">
	<div class="form-group">
			<label for="nombre">
				Buscar Cátalogo:
			</label>
			<!--<input placeholder="Ingrese nombre del catalogo a buscar" class="form-control" type="text" id="buscarEmpInput" name="">-->
			<div class="row">
			<div class="col col-sm-6 col-sm-offset-3 form-group">
				<label for="proveedor">
					Proveedor:
				</label>
				<select ng-change="cargarCatalogoPorIdProv(cat.id_prov)" ng-model="cat.id_prov" class="form-control">
					<option value="" selected="selected" disabled="disabled">Seleccione un proveedor</option>						
					<option ng-repeat="proveedor in proveedoreslista" value="{{proveedor.id_prov}}">{{proveedor.nombreCompleto}}</option>
				</select>
			</div>

		</div>
		</div>
</div>
<div class="row">
	<button ng-click="alta()" ng-show="catNuevo == false && !editando" class="col col-xs-10 col-xs-offset-1 btn btn-primary">Dar de alta un nuevo catalogo</button>
</div>
<div ng-show="selectedCatId != undefined || catNuevo">
	<form ng-submit="ensubmit()" name="catForm">

		<div class="form-group" ng-show="editando">
			<label>
				Número de Catálogo
			</label>
			<input ng-model="cat.no_catalogo" class="form-control" type="number" ng-readonly="editando"/>
		</div>
		<div class="form-group">
			<label for="nombre">
				Nombre del Cátalogo:
			</label>
			<input required ng-model="cat.nombre" class="form-control" type="text" name="nombre">
		</div>
		
		<div class="row">
			<div class="col col-xs-6 form-group">
				<label for="cve_ent">
					Proveedor:
				</label>
				<select ng-disabled="editando" ng-model="cat.id_prov" class="form-control">
					<option ng-repeat="proveedor in proveedoreslista" value="{{proveedor.id_prov}}">{{proveedor.nombreCompleto}}</option>
				</select>
			</div>
			<div class="col col-xs-6 form-group">
				<label for="cve_ent" >
					Año:
				</label>
				<input type="number" min="2010" max="2100" class="form-control" ng-model="cat.anio" ng-readonly="editando">
			</div>
		</div>
		<div class="row" ng-show="!editando" >
			<button class="btn btn-success col-xs-10 col-xs-offset-1">Guardar</button>
		</div>
		<br>
	<span isolate-click>
		<div class="row" ng-show="editando">
			<button class="btn btn-warning col-xs-10 col-xs-offset-1">Actualizar registro</button>
		
		
	</div>
		<br ng-show="editando"/>
		<div class="row">

			<button ng-click="cancelar($event);" class="col col-xs-10 col-xs-offset-1 btn btn-danger">Cancelar</button>
		</div>
		<br/>
		<div ng-show="editando" class="row">
			<button ng-click="eliminar($event);" class="col col-xs-10 col-xs-offset-1 btn">Eliminar</button>
		</div>

	</span>
	</form>
</div>
<br>
<table class="table table-hover table-striped" ng-show="catalogoslista != undefined && catalogoslista.length > 0 && !catNuevo && !editando">
	<thead class="thead-default">
		<tr>
		<th class="text-center">ID</th>
		<th class="text-center">Nombre</th>
		<th class="text-center">Año</th>
		<th class="text-center"></th>
		<th class="text-center"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="catalogo in catalogoslista">
			<th scope="row" class="text-center">{{catalogo.id}}</th>
			<td class="text-center">{{catalogo.nombre}}</td>
			<td class="text-center">{{catalogo.anio}}</td>
			<td class="text-center"><a href="#!/catalogos/{{catalogo.id}}"><button class="btn btn-warning form-control">Editar</button></a></td>
		</tr>
	</tbody>
</table>

<div ng-show="cat.id_prov != undefined && catalogoslista.length == 0 && !catNuevo && !editando">
	<br>
	<div class="panel panel-danger text-center">
		<br>
		<div class="panel-body">Este proveedor no tiene catalogos</div>
		<br>
	</div>
</div>