<div ng-show="provNuevo == false">
	<div class="form-group">
			<label for="nombre">
				Buscar Proveedor:
			</label>
			<input placeholder="Ingrese nombre a buscar" class="form-control" type="text" id="buscarProvInput" name="">
		</div>
</div>
<div class="row">
	<button ng-click="alta()" ng-show="provNuevo == false" class="col col-xs-10 col-xs-offset-1 btn btn-primary">Dar de alta un nuevo proveedor</button>
</div>
<div ng-show="selectedUserId != undefined || provNuevo">
	<form ng-submit="agregar()" name="provForm">
		<div class="form-group" ng-show="selectedUserId != undefined && !provNuevo">
			<label for="nombre">
				RFC:
			</label>
			<input readonly ng-model="selectedUserId" class="form-control" type="text" name="rfc_oculto" id="rfc_oculto"/>
		</div>
		<div class="form-group" ng-show="provNuevo">
			<label for="RFC">
				RFC:
			</label>
			<input required ng-model="selectedUserId"  class="form-control" type="text" name="rfc" id="rfc">
		</div>
		<div class="row">
		 <div class="col col-sm-6 form-group">
		   <label for="nombre">
				Nombre:
			</label>
			<input required ng-model="prov.nombre" class="form-control" type="text" name="nombre">
		  </div>
			<div class="col col-sm-6 form-group">
				<label for="r_social">
					Razón Social:
				</label>
				<select required ng-model="prov.razon_social" class="form-control" name="r_social">
					<option value="S.A.">Sociedad Anónima</option>
					<option value="S.C.">Sociedad Colectiva</option>
					<option value="S.E.C">Sociedad en Comandita</option>
					<option value="S.R.L.">Sociedad de Responsabilidad Limitada</option>
					<option value="E.I.R.L.">Empresa Individual de Responsabilidad Limitada</option>
					<option value="E.U.">Empresa Unipersonal</option>
				</select>
			</div>
        </div>
           <div class="row">
			<div class="col col-sm-6 form-group">
				<label for="correo">
					Correo:
				</label>
				<input required ng-model="prov.email" class="form-control" type="email" name="correo">
			</div>

			<div class="col col-sm-6 form-group">
				<label for="telefono">
					Telefono:
				</label>
				<input required ng-model="prov.telefono" class="form-control" type="text" name="telefono">
			</div>
		</div>
          
		<div class="row">
			<div class="col col-sm-6 form-group">
				<label for="calle">
					Calle:
				</label>
				<input required ng-model="prov.calle" class="form-control" type="text" name="calle">
			</div>

			<div class="col col-sm-6 form-group">
				<label for="colonia">
					Colonia:
				</label>
				<input required ng-model="prov.colonia" class="form-control" type="text" name="colonia">
			</div>
		</div>
		<div class="row">
			<div class="col col-sm-3 form-group">
				<label for="num_domicilio_int">
					Numero interior:
				</label>
				<input class="form-control" ng-model="prov.num_domicilio_int" type="text" name="num_domicilio_int">
			</div>

			<div class="col col-sm-3 form-group">
				<label for="num_domicilio_ext">
					Numero exterior:
				</label>
				<input required ng-model="prov.num_domicilio_ext" class="form-control" type="text" name="num_domicilio_ext">
			</div>

			<div class="col col-sm-6 form-group">
				<label for="cp">
					Codigo postal:
				</label>
				<input class="form-control" required ng-model="prov.cp" type="text" name="cp">
			</div>
			

			<div class="col col-sm-6 form-group" ng-show="!provNuevo">
				<label for="cp">
					Ultima visita:
				</label>
				<input readonly class="form-control" required ng-model="prov.fecha_ultima_visita" type="text" name="fecha_ultima_visita">
			</div>
		</div>
		<div class="row">
			<div class="col col-sm-6 form-group">
				<label for="cve_ent">
					Estado:
				</label>
				<select ng-change="cargarMunicipioPorCveEnt(prov.cve_ent);prov.cve_mun=undefined;" ng-model="prov.cve_ent" class="form-control">
					<option ng-repeat="estado in estados" value="{{estado.cve_ent}}">{{estado.nom_ent}}</option>
				</select>
			</div>
		
			<div class="col col-sm-6 form-group">
				<label for="cve_mun">
					Municipio:
				</label>
				<select ng-show="prov.cve_ent != undefined" ng-model="prov.cve_mun" class="form-control">
					<option ng-repeat="municipio in municipios" value="{{municipio.cve_mun}}">{{municipio.nom_mun}}</option>
				</select>
				<input ng-show="prov.cve_ent == undefined" class="form-control" type="text" value="Seleccione una entidad" disabled>
			</div>
		</div>
		<div class="row">
			<button ng-show="provNuevo" class="btn btn-success col-xs-10 col-xs-offset-1">Guardar</button>
		</div>
	<span isolate-click>
		<div class="row" ng-show="!provNuevo" >
			<button class="btn btn-warning col-xs-10 col-xs-offset-1">Actualizar registro</button>
		</div>
		<br/>

		<div ng-show="!provNuevo">
			<div class="row">
				<button ng-click="$event.preventDefault();mostrarDatePikerActalizarFecha = !mostrarDatePikerActalizarFecha" class="btn btn-warning col-xs-10 col-xs-offset-1">Actualizar fecha de última visita</button>
			</div>
			<div class="row animated fadeIn" ng-show="mostrarDatePikerActalizarFecha">
				<br>
				<div class="col col-xs-4 col-xs-offset-4 text-center">
					<label>Nueva Fecha:</label>
					<input ng-model="nuevaUltimaFecha" type="date" name="" class="form-control"/>
					<button class="form-control btn btn-success" ng-click="actualizarUltimaVisita($event)">Guardar</button>
				</div>
			</div>
			<br/>			
		</div>

		<div class="row">
			<button ng-click="cancelar($event);" class="col col-xs-10 col-xs-offset-1 btn btn-danger">Cancelar</button>
		</div>
		<br/>
		<div ng-show="!provNuevo" class="row">
			<button ng-click="eliminar($event);" class="col col-xs-10 col-xs-offset-1 btn">Eliminar</button>
		</div>

	</span>
	</form>
</div>



